.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 2px;
}
.list-items >ul>li{
    /* display: flex; */
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    font-size: 20px;
}

.list-items >ul{
    display: flex;
    /* padding: 10px; */
}
.res-card{
    width: 200px;
    /* height: 350px; */
    background-color: beige;
    padding: 5px;
    margin: 5px;
}
.res-card:hover{
    cursor: pointer;
    border:1px solid black;
}
.search{
    padding: 10px;
}
.res-card h3{
    padding: 0px 20px;
    /* margin: 5px; */
}
.res-card img{
    width: 100%;
    height: 30%;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: beige;
    margin: 5px;
    padding: 10px;
}
.user-class{
    padding: 10px;
border: 2px solid black;
}